<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- Main Content -->
<main>
  <!--<div class="jumbotron jumbotron-fluid"> -->
  <div class="container">
    <style>
      .container{
          background-image: url('https://did-studios.com/uploads/image_homepage/7ec687f7f6f94fe9c3b1625892f4aa95.JPEG');
          height: 100vh;
          backgroud-repeat: no-repeat;
          width: 100vw ;
          background-size: cover;
          background-position: center;
      }
    </style>
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>