<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-12">
            <h1>ITEMS</h1> 
            <hr class="rounded">
                <a href="/shopping-bag/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add an item </a>
            <hr class="rounded">
        <table class="table table-bordered table-striped table-hover">
        <tr>
            <th class="text-center col-2">Product</th>
            <th class="text-center col-1">Size</th>
            <th class="text-center col-2">Color</th>
            <th class="text-center col-1">Price</th>
            <th class="text-center col-1">Quantity</th>
            <th class="text-center col-2">Subtotal</th>
            <th class="text-center col-1"></th>
            <th class="text-center col-1"></th>
        </tr>
        <!-- Repeat the template -->
        <% for(let count=0; count<Bag.length; count++) { %>
            <tr>
                <td class="text-center col-2"><%= Bag[count].product %></td>
                <td class="text-center col-1"><%= Bag[count].size %></td>
                <td class="text-center col-2"><%= Bag[count].color %></td>
                <td class="text-center col-1"><%= Bag[count].price %></td>
                <td class="text-center col-1"><%= Bag[count].quantity %></td>
                <td class="text-center col-2"><%= Bag[count].subtotal %></td>
                <td class="text-center col-1">
                    <a href="/shopping-bag/edit/<%= Bag[count]._id%>"
                        class="btn btn-primary">
                        <i class="fas fa-pencil-alt"></i> Edit </a>
                </td>
                <td class="text-center col-1">
                    <a href="/shopping-bag/delete/<%= Bag[count]._id%>"
                        class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete </a>
                </td>
            </tr>
        <% } %>
        </table>       
        </div>
    </div>
</main>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>


